*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}
html{
    direction: rtl;
}
body {
    position:relative;
    font-family: 'A Jannat';
    font-weight: 400;
}
a{
    text-decoration:none;
    color:black;
}
.Fade{
    animation: fade 1s;

}

@keyframes fade{
    from{
        opacity:1;
    }
    to{
        opacity:0;
        display:none;
    }
    
}
