@font-face {
    font-family: 'A Jannat';
    font-weight: 400;
    src: url('../fonts/A.Jannat.LT.Regular.ttf');
}
@font-face {
    font-family: 'A Jannat';
    font-weight: bold;
    src: url('../fonts/A.Jannat.LT.Bold.ttf');
}